@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
body{padding-top:100px}body.no-padding{padding-top:0}a,button{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}a i.fa,button i.fa{margin:0 5px}.clickable{cursor:pointer !important}.accent{color:#5ed4c9}.text-uppercase{text-transform:uppercase}.navbar .yamm-content h3{font-size:18px;font-weight:400;text-transform:uppercase;padding-bottom:10px;margin-top:5px;border-bottom:dotted 1px #555}@media (max-width:767px){.navbar .yamm-content h3{font-size:14px}}.navbar .yamm-content h5{text-transform:uppercase;padding-bottom:10px;border-bottom:dotted 1px #555}.navbar .yamm-content ul{margin:0;padding:0}.navbar .yamm-content ul li{list-style-type:none;border-bottom:solid 1px #eee;text-transform:uppercase;padding:4px 0}.navbar .yamm-content ul li a{color:#999;font-size:12px;display:block}.navbar .yamm-content ul li a:hover{color:#5ed4c9;text-decoration:none}.navbar .yamm-content .banner{margin-bottom:10px}.navbar ul.nav>li>a{text-transform:uppercase;text-decoration:underline}.navbar li.active a{text-decoration:none !important}.navbar .yamm-fw .dropdown-menu{padding:0}.navbar .normal-dropdown .dropdown-menu li{text-transform:uppercase;padding:4px 0;font-weight:400}.navbar .navbar-buttons{float:right}.navbar .navbar-buttons button,.navbar .navbar-buttons a.btn,.navbar .navbar-buttons .btn-default.navbar-toggle{margin-top:20px;margin-bottom:20px;margin-left:0;margin-right:5px}.navbar .btn-default,.navbar .btn-default.navbar-toggle{color:#999;background-color:#fff;margin-left:7px;margin-right:0}.navbar .btn-default:hover,.navbar .btn-default.navbar-toggle:hover,.navbar .btn-default:focus,.navbar .btn-default.navbar-toggle:focus{background-color:#fff;border-color:#5ed4c9;color:#5ed4c9}.navbar #search{clear:both;border-top:solid 1px #5ed4c9;text-align:right}.navbar #search .navbar-form{float:right;width:500px}.navbar #search .navbar-form .input-group{display:table}.navbar #search .navbar-form .input-group .input-group-btn{white-space:nowrap;width:1%}.navbar #search .navbar-form .input-group .form-control{width:100%}@media (max-width:768px){.navbar #search .navbar-form{float:none;width:auto}}.navbar #basket-overview a{margin-left:7px}.navbar .footer{background:#5ed4c9;padding:20px 30px}.navbar .footer h4{font-size:24px;text-transform:uppercase;color:#fff;margin:5px 0 0 0}.navbar .footer .buttons .btn,.navbar .footer .buttons .btn.btn-default{font-family:"Montserrat",Helvetica,Arial,sans-serif;text-transform:uppercase !important;color:#555}#login-modal{overflow:hidden}#login-modal .modal-header h4{text-transform:uppercase}#login-modal form{margin-bottom:20px}#login-modal a{color:#5ed4c9}#login-modal p{font-weight:300;margin-bottom:20px;font-size:13px}#intro{background:url('../img/home.jpg') no-repeat center top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}#intro .item{font-family:"Montserrat",Helvetica,Arial,sans-serif;height:100%}#intro .item h1{text-transform:uppercase;font-size:50px;color:#fff;margin-bottom:40px}@media (max-width:991px){#intro .item h1{font-size:40px}}@media (max-width:767px){#intro .item h1{font-size:25px}}#intro .item h3{color:#fff;margin-bottom:40px}@media (max-width:767px){#intro .item h3{font-size:15px;margin-bottom:20px}}#intro .item .btn{text-transform:none}@media (max-width:991px){#intro .item .btn{font-size:14px}}@media (max-width:991px){#intro .item .carousel-caption{left:10%;right:10%}}#intro .container,#intro .row{height:100%;position:relative}#advantages{margin-top:30px}#advantages p{clear:both;color:#555;text-align:center;margin-bottom:40px;font-style:italic;font-size:18px}#advantages p strong{color:#5ed4c9}#advantages .box.no-border{margin:0}#advantages .box.no-border i{position:relative;font-size:45px;float:left;margin:0 20px 20px 0;color:#999;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}@media (max-width:991px){#advantages .box.no-border i{float:none;margin:0;text-align:center !important}}#advantages .box.no-border h4{font-size:16px;margin-top:5px;font-weight:400;text-transform:uppercase;color:#ccc}#advantages .box.no-border h4 a{color:#ccc}#advantages .box.no-border h4 a:hover{text-decoration:none}#advantages .box.no-border:hover i{color:#5ed4c9}#slider a img{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}#slider a:hover img{opacity:.8;filter:alpha(opacity=80)}.breadcrumb{font-family:"Montserrat",Helvetica,Arial,sans-serif;text-transform:uppercase}.box{background:#fff;margin:0 0 30px;border:solid 1px #ccc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px;border-left:none;border-right:none}.box .box-header{background:#f7f7f7;margin:-20px -20px 20px;padding:20px;border-bottom:solid 1px #eee}.box .box-header:before,.box .box-header:after{content:" ";display:table}.box .box-header:after{clear:both}.box .box-footer{background:#f7f7f7;margin:30px -20px -20px;padding:20px;border-top:solid 1px #eee}.box .box-footer:before,.box .box-footer:after{content:" ";display:table}.box .box-footer:after{clear:both}@media (max-width:991px){.box .box-footer .btn{margin-bottom:20px}}.box.no-border{border:none}.ribbon{position:absolute;top:50px;padding-left:51px}.ribbon .ribbon-background{position:absolute;top:0;right:0}.ribbon .theribbon{position:relative;width:80px;padding:6px 20px 6px 20px;margin:30px 10px 10px -71px;color:#fff;background-color:#5ed4c9;font-family:"Montserrat",Helvetica,Arial,sans-serif}.ribbon .theribbon:before,.ribbon .theribbon:after{content:' ';position:absolute;width:0;height:0}.ribbon .theribbon:after{left:0;top:100%;border-width:5px 10px;border-style:solid;border-color:#000 #000 transparent transparent}.ribbon.ribbon-quick-view{padding-left:36px}.ribbon.ribbon-quick-view .theribbon{margin-left:-59px}.ribbon.ribbon-quick-view .theribbon:after{border-width:4px 4px}.ribbon.sale{top:0}.ribbon.new{top:50px}.ribbon.new .theribbon{background-color:#5bc0de;text-shadow:0 1px 2px #bbb}.ribbon.new .theribbon:after{border-color:#2390b0 #2390b0 transparent transparent}.ribbon.gift{top:100px}.ribbon.gift .theribbon{background-color:#5cb85c;text-shadow:0 1px 2px #bbb}.ribbon.gift .theribbon:after{border-color:#357935 #357935 transparent transparent}#content #categoryMenu h3{padding:20px;background:#f7f7f7;margin:0;border-bottom:solid 1px #eee;text-transform:uppercase}#content .panel.sidebar-menu h3{padding:5px 0;margin:0}#content .panel.sidebar-menu,#content #categoryMenu{background:#fff;margin:0 0 20px;border:solid 1px #ccc;border-left:none;border-right:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#content .panel.sidebar-menu .panel-heading,#content #categoryMenu .panel-heading{text-transform:uppercase}#content .panel.sidebar-menu .panel-heading .btn.btn-danger,#content #categoryMenu .panel-heading .btn.btn-danger{color:#fff}#content .panel.sidebar-menu .panel-body span.colour,#content #categoryMenu .panel-body span.colour{display:inline-block;width:15px;height:15px;border:solid 1px #555;vertical-align:top;margin-top:2px;margin-left:5px}#content .panel.sidebar-menu .panel-body span.colour.white,#content #categoryMenu .panel-body span.colour.white{background:#fff}#content .panel.sidebar-menu .panel-body span.colour.red,#content #categoryMenu .panel-body span.colour.red{background:#f00}#content .panel.sidebar-menu .panel-body span.colour.green,#content #categoryMenu .panel-body span.colour.green{background:#008000}#content .panel.sidebar-menu .panel-body span.colour.blue,#content #categoryMenu .panel-body span.colour.blue{background:#00f}#content .panel.sidebar-menu .panel-body span.colour.yellow,#content #categoryMenu .panel-body span.colour.yellow{background:#ff0}#content .panel.sidebar-menu .panel-body label,#content #categoryMenu .panel-body label{color:#999;font-size:12px}#content .panel.sidebar-menu .panel-body label:hover,#content #categoryMenu .panel-body label:hover{color:#555}#content .panel.sidebar-menu ul.nav.category-menu,#content #categoryMenu ul.nav.category-menu{margin-bottom:20px;text-transform:uppercase;font-weight:700}#content .panel.sidebar-menu ul.nav.category-menu li a,#content #categoryMenu ul.nav.category-menu li a{font-family:"Montserrat",Helvetica,Arial,sans-serif}#content .panel.sidebar-menu ul.nav ul,#content #categoryMenu ul.nav ul{list-style:none;padding-left:0}#content .panel.sidebar-menu ul.nav ul li,#content #categoryMenu ul.nav ul li{display:block}#content .panel.sidebar-menu ul.nav ul li a,#content #categoryMenu ul.nav ul li a{position:relative;font-family:"Merriweather","Times New Roman",Times,serif;font-weight:normal;text-transform:none !important;display:block;padding:10px 15px;padding-left:30px;font-size:12px;color:#999}#content .panel.sidebar-menu ul.nav ul li a:hover,#content #categoryMenu ul.nav ul li a:hover,#content .panel.sidebar-menu ul.nav ul li a:focus,#content #categoryMenu ul.nav ul li a:focus{text-decoration:none;background-color:#eee}#content .info-bar{line-height:32px;vertical-align:middle}@media (max-width:991px){#content .info-bar .products-showing{text-align:center}}#content .info-bar .products-number-sort{font-size:13px}@media (max-width:991px){#content .info-bar .products-number-sort{text-align:center;margin-top:10px}}#content .info-bar .products-number{text-align:center}#content .info-bar .products-number strong{margin-right:10px}#content .info-bar .products-sort-by{text-align:right}#content .info-bar .products-sort-by select{margin-left:10px}@media (max-width:991px){#content .info-bar .products-sort-by{margin:0}}@media (max-width:767px){#content .info-bar .products-sort-by{text-align:center;margin:10px 0 0}}#content .product{background:#f3f2f2;border-bottom:solid 1px #e6e6e6;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:30px;overflow:hidden;text-align:center}#content .product .image{overflow:hidden;position:relative}#content .product .image img{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}@media (max-width:767px){#content .product .image img.img-responsive{min-width:100%}}#content .product .image .quick-view-button{position:absolute;top:50%;margin-top:-15px;left:50%;margin-left:-50px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}#content .product .image .quick-view-button .btn{opacity:0;filter:alpha(opacity=0);font-size:11px;width:100px;text-align:center}@media (max-width:767px){#content .product .image .quick-view-button{display:none}}#content .product .text{padding:10px}#content .product .text h3{font-size:18px;font-weight:700}#content .product .text h3 a{color:#555}#content .product .price{font-size:25px; font-weight: 700; margin-bottom: 0; color:#ec136a}#content .product .priceOld{font-size:15px;}#content .product .text p.price del{color:#999}#content .product .buttons{clear:both;position:absolute;display:none;bottom:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;border:solid 1px transparent;padding:20px;background:rgba(255,255,255,0.9);-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;text-align:center}#content .product .buttons .btn{margin-bottom:20px}#content .product:hover{border-bottom:solid 1px #808080;top:0}#content .product:hover .quick-view-button .btn{opacity:.8;filter:alpha(opacity=80)}#content .product:hover .image img{-webkit-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);transform:scale(1.1, 1.1)}#content .banner{margin-bottom:30px;text-align:center}#content .banner img{margin:0 auto}#content .banner a:hover img{opacity:.8;filter:alpha(opacity=80);-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}#content .pages{text-align:center}#content .pages .loadMore{text-align:center}#content .pages .pagination{text-align:center}#content .quick-view-main-image{text-align:center}#content .quick-view-main-image img{max-height:350px;margin:0 auto}#content #productMain,#content .quick-view{margin-bottom:30px}#content #productMain .goToDescription,#content .quick-view .goToDescription{font-size:12px;text-align:center}#content #productMain .goToDescription a,#content .quick-view .goToDescription a{color:#999;text-decoration:underline}#content #productMain .sizes,#content .quick-view .sizes{text-align:center}#content #productMain .sizes a,#content .quick-view .sizes a{display:inline-block;width:40px;height:40px;border-radius:40px;background:#ccc;line-height:40px;color:#555;text-align:center;text-decoration:none;font-family:"Montserrat",Helvetica,Arial,sans-serif}#content #productMain .sizes a.active,#content .quick-view .sizes a.active,#content #productMain .sizes a:hover,#content .quick-view .sizes a:hover{background:#5ed4c9;color:#fff}#content #productMain .sizes input,#content .quick-view .sizes input{display:none}#content #productMain .price,#content .quick-view .price{font-size:40px;text-align:center;margin-top:40px;margin-bottom:40px}#content .quick-view{margin-bottom:20px}#content .quick-view .box{margin-top:20px}#content .quick-view h2{text-align:center}#content .quick-view .sizes h3{font-size:18px;margin-top:10px}#content .quick-view .sizes a{width:30px;height:30px;border-radius:30px;line-height:30px}#content .quick-view .price{font-size:28px;margin:20px 0}#content .thumbs a,#content #thumbs a{display:block;border:solid 1px transparent}#content .thumbs a.active,#content #thumbs a.active{border-color:#5ed4c9}#content .quick-view .thumbs{margin-top:30px}#content .quick-view-social,#content #product-social{text-align:center}#content .quick-view-social h4,#content #product-social h4{font-weight:700;margin-bottom:10px;text-transform:uppercase;font-size:14px}#content .quick-view-social p,#content #product-social p{line-height:26px}#content .quick-view-social p a,#content #product-social p a{margin:0 10px 0 0;color:#fff;display:inline-block;width:26px;height:26px;border-radius:13px;line-height:26px;font-size:15px;text-align:center;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;vertical-align:bottom}#content .quick-view-social p a i,#content #product-social p a i{vertical-align:bottom;line-height:26px}#content .quick-view-social p a.facebook,#content #product-social p a.facebook{background-color:#4460ae}#content .quick-view-social p a.gplus,#content #product-social p a.gplus{background-color:#c21f25}#content .quick-view-social p a.twitter,#content #product-social p a.twitter{background-color:#3cf}#content .quick-view-social p a.instagram,#content #product-social p a.instagram{background-color:#cd4378}#content .quick-view-social p a.email,#content #product-social p a.email{background-color:#4a7f45}@media (max-width:991px){#content .quick-view-social,#content #product-social{text-align:center}}#content #checkout .nav{margin-bottom:20px;border-bottom:solid 1px #5ed4c9}#content #checkout .nav li{height:100%}#content #checkout .nav li a{display:block;height:100%}#content #order-summary table{margin-top:20px}#content #order-summary table td{color:#999}#content #order-summary table tr.total td,#content #order-summary table tr.total th{font-size:18px;color:#555;font-weight:700}#content #checkout .table tbody tr td,#content #basket .table tbody tr td,#content #customer-order .table tbody tr td{vertical-align:middle}#content #checkout .table tbody tr td input,#content #basket .table tbody tr td input,#content #customer-order .table tbody tr td input{width:50px;text-align:right}#content #checkout .table tbody tr td img,#content #basket .table tbody tr td img,#content #customer-order .table tbody tr td img{width:50px}#content #checkout .table tfoot,#content #basket .table tfoot,#content #customer-order .table tfoot{font-size:18px}#content #text-page h1,#content #text-page h2,#content #text-page h3{font-weight:700}#content #error-page{text-align:center;margin-top:40px;margin-bottom:100px}#content #error-page h4{margin-bottom:40px}#content #error-page p.buttons{margin-top:40px}#content #map{height:400px}#content #blog-listing .post,#content #blog-homepage .post{margin-bottom:60px}#content #blog-listing .post h2 a,#content #blog-homepage .post h2 a,#content #blog-listing .post h4 a,#content #blog-homepage .post h4 a{color:#555}#content #blog-listing .post h2 a:hover,#content #blog-homepage .post h2 a:hover,#content #blog-listing .post h4 a:hover,#content #blog-homepage .post h4 a:hover{color:#5ed4c9}#content #blog-listing .post .author-category,#content #blog-homepage .post .author-category{color:#999;font-style:italic}#content #blog-listing .post .date-comments a,#content #blog-homepage .post .date-comments a{color:#999;margin-right:20px}#content #blog-listing .post .date-comments a:hover,#content #blog-homepage .post .date-comments a:hover{color:#5ed4c9}#content #blog-listing .post .intro,#content #blog-homepage .post .intro{text-align:left}#content #blog-listing .post .image,#content #blog-homepage .post .image{margin-bottom:10px;overflow:hidden}#content #blog-listing .post .image img,#content #blog-homepage .post .image img{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}@media (max-width:767px){#content #blog-listing .post .image img.img-responsive,#content #blog-homepage .post .image img.img-responsive{min-width:100%}}#content #blog-listing .post .read-more,#content #blog-homepage .post .read-more{text-align:right}#content #blog-listing .post:hover .image img,#content #blog-homepage .post:hover .image img{-webkit-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);transform:scale(1.1, 1.1)}#content #blog-homepage .post{margin-bottom:60px}#content #blog-homepage .post h2,#content #blog-homepage .post h4,#content #blog-homepage .post .author-category,#content #blog-homepage .post .read-more{text-align:center}#content #blog-homepage .post .read-more{margin-top:20px}#content #blog-post #post-content{margin-bottom:20px}#content #blog-post .comment{margin-bottom:25px}#content #blog-post .comment:before,#content #blog-post .comment:after{content:" ";display:table}#content #blog-post .comment:after{clear:both}#content #blog-post .comment .posted{color:#999;font-size:12px}#content #blog-post .comment .reply{font-family:"Montserrat",Helvetica,Arial,sans-serif}#content #blog-post .comment.last{margin-bottom:0}#content #blog-post #comments,#content #blog-post #comment-form{padding:20px 0;margin-top:20px;border-top:solid 1px #eee}#content #blog-post #comments:before,#content #blog-post #comment-form:before,#content #blog-post #comments:after,#content #blog-post #comment-form:after{content:" ";display:table}#content #blog-post #comments:after,#content #blog-post #comment-form:after{clear:both}#content #blog-post #comments h4,#content #blog-post #comment-form h4{margin-bottom:20px}#content #blog-post #comment-form{margin-bottom:20px}#content .icon{display:inline-block;width:80px;height:80px;color:#fff;line-height:80px;border-radius:40px;border:solid 1px #fff;font-size:20px}#content .icon.icon-lg{font-size:30px;border-width:2px}#content .bar{position:relative;padding:50px 0;margin:50px 0 80px}#content .bar.background-gray{background:#eee}#content .bar.background-gray-dark{background:#555}#content .bar.background-white{background:#fff}#content .bar.background-image-fixed-1{background:url('../img/fixed-background-1.jpg') center top no-repeat;background-attachment:fixed;background-size:cover}#content .bar.background-image-fixed-2{background:url('../img/fixed-background-2.jpg') center top no-repeat;background-attachment:fixed;background-size:cover}#content .bar.color-white h1,#content .bar.color-white h2,#content .bar.color-white h3,#content .bar.color-white h4,#content .bar.color-white h5,#content .bar.color-white h6,#content .bar.color-white p{color:#fff}#content .bar.padding-big{padding:50px 0}#content .bar.padding-horizontal{padding-left:30px;padding-right:30px}#content .bar.margin-vertical{margin-top:20px;margin-bottom:20px}#content .bar .dark-mask{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.3;filter:alpha(opacity=30)}#content #customer-orders table tr th,#content #customer-orders table tr td{vertical-align:baseline}#content #customer-order .table tfoot th{font-size:18px;font-weight:300}#content #customer-order .addresses{text-align:right;margin-bottom:30px}#content #customer-order .addresses p{font-size:18px;font-weight:300}#content #customer-account{margin-bottom:30px}#footer{border-top:dotted 1px #000;background:#f7f7f7;padding:20px 0;margin-top:40px;}#footer ul{padding-left:0;list-style:none}#footer ul a{color:#999}#footer ul a:hover{color:#5ed4c9;text-decoration:none}#footer .social a{color:#555;font-size:25px;margin:0 10px 0 0}#footer .social a:hover{color:#5ed4c9}#copyright{background:#333;color:#ccc;padding:20px 0;font-size:12px;line-height:28px}#copyright p{margin:0}@media (max-width:991px){#copyright p{float:none !important;text-align:center;margin-bottom:10px}}#style-switch-button{position:fixed;top:100px;left:0;border-radius:0}#style-switch{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:250px;padding:20px;position:fixed;top:140px;left:0;background:#fff;border:solid 1px #eee}.modal-backdrop{z-index:1035}.nav{margin-bottom:0;padding-left:0;list-style:none}.nav>li>a{padding:10px 15px}.nav>li>a:hover,.nav>li>a:focus{background-color:#eee}.nav>li.disabled>a{color:#999}.nav>li.disabled>a:hover,.nav>li.disabled>a:focus{color:#999}.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#eee;border-color:#5ed4c9}.nav-tabs{border-bottom:1px solid #ddd}.nav-tabs>li>a{line-height:1.42857143;border-radius:4px 4px 0 0}.nav-tabs>li>a:hover{border-color:#eee #eee #ddd}.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#555;background-color:#fff;border:1px solid #ddd}.nav-pills>li>a{border-radius:0}.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#5ed4c9}.nav-tabs-justified>li>a{border-radius:4px}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border:1px solid #ddd}@media (min-width:768px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border-bottom-color:#fff}}.navbar{font-family:"Montserrat",Helvetica,Arial,sans-serif;min-height:80px;margin-bottom:30px;border-bottom:1px solid transparent}@media (min-width:768px){.navbar{border-radius:0}}.navbar-collapse{max-height:340px;overflow-x:visible;padding-right:15px;padding-left:15px}.navbar-collapse.in{overflow-y:auto}@media (min-width:768px) and (max-width:991px){.navbar-collapse{font-size:12px}}@media (min-width:768px){.navbar-collapse{float:left;width:auto;border-top:0;box-shadow:none}.navbar-collapse.collapse{display:block !important;height:auto !important;padding-bottom:0;overflow:visible !important}.navbar-collapse.in{overflow-y:visible}.navbar-collapse.right{float:right}.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse{padding-left:0;padding-right:0}}.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse{margin-right:-15px;margin-left:-15px}@media (min-width:768px){.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse{margin-right:0;margin-left:0}}.navbar-brand{float:left;padding:10px 15px;font-size:18px;line-height:20px;height:100px}.navbar-brand:hover,.navbar-brand:focus{text-decoration:none}@media (min-width:768px){.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}}.navbar-toggle{padding:9px 10px !important;margin-right:15px;border-radius:4px}.navbar-nav{margin:15px -15px}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px}@media (max-width:767px){.navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header{padding:5px 15px 5px 25px}.navbar-nav .open .dropdown-menu>li>a{line-height:20px}.navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:focus{background-image:none}}@media (min-width:768px){.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:30px;padding-bottom:30px}.navbar-nav.navbar-right:last-child{margin-right:-15px}}.navbar-form{margin-left:-15px;margin-right:-15px;padding:10px 15px;border:none;margin-top:23px;margin-bottom:23px}@media (max-width:767px){.navbar-form .form-group{margin-bottom:5px}}.navbar-btn{margin-top:23px;margin-bottom:23px}.navbar-btn.btn-sm{margin-top:25px;margin-bottom:25px}.navbar-btn.btn-xs{margin-top:29px;margin-bottom:29px}.navbar-text{margin-top:30px;margin-bottom:30px}@media (min-width:768px){.navbar-text{float:left;margin-left:15px;margin-right:15px}.navbar-text.navbar-right:last-child{margin-right:0}}.navbar-default{background-color:#fff;border-bottom-color:#e6e6e6}.navbar-default .navbar-brand{color:#777}.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{color:#5e5e5e;background-color:transparent}.navbar-default .navbar-text{color:#777}.navbar-default .navbar-nav>li>a{color:#777}.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color:#333;background-color:transparent}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#555;background-color:transparent}.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:hover,.navbar-default .navbar-nav>.disabled>a:focus{color:#ccc;background-color:transparent}.navbar-default .navbar-toggle{border-color:#ddd}.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#5ed4c9}.navbar-default .navbar-toggle .icon-bar{background-color:#888}.navbar-default .navbar-collapse{border-color:#e6e6e6}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{background-color:transparent;color:#555}@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#777}.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color:#333;background-color:transparent}.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{color:#555;background-color:transparent}.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus{color:#ccc;background-color:transparent}}.navbar-default .navbar-link{color:#777}.navbar-default .navbar-link:hover{color:#333}body{font-family:"Merriweather","Times New Roman",Times,serif;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff}a{color:#5ed4c9;text-decoration:none}a:hover,a:focus{color:#a44c87;text-decoration:none}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.img-rounded{border-radius:6px}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
.breadcrumb{
    text-align: right;
    display: inline-block;
    padding: 0 11px;
    border: 1px solid #ea1c6f;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    min-height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: #fff !important;
    float: right;
    background-color: #ea1c6f;
    
}
.breadcrumb a{
    color:#ccc;
}
.breadcrumb>li+li:before{content:">\00a0";color:#ccc}.breadcrumb>.active{color:#999}@media (max-width:991px){.breadcrumb{padding:8px 0;text-align:center}}.btn{font-weight:normal;font-family:"Montserrat",Helvetica,Arial,sans-serif;text-transform:uppercase;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:3px}.btn-primary{color:#5ed4c9;background-color:#fff;border-color:#5ed4c9}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#5ed4c9;background-color:#ebebeb;border-color:#af518f}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#fff;border-color:#5ed4c9}.btn-primary .badge{color:#fff;background-color:#5ed4c9}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active{background:#5ed4c9;color:#fff}.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:4px}.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}.dropdown-menu>li>a{padding:5px 20px}.label{font-family:"Montserrat",Helvetica,Arial,sans-serif;font-weight:normal;text-transform:uppercase}label{font-weight:normal}.form-control{-webkit-box-shadow:none;box-shadow:none}.form-group{margin-bottom:20px}.pager{margin:20px 0;border-top:solid 1px #eee;padding-top:20px;text-transform:uppercase;font-family:"Montserrat",Helvetica,Arial,sans-serif}.pager li{display:inline}.pager li>a,.pager li>span{background-color:#fff;border:1px solid #5ed4c9;border-radius:4px}.pager li>a:hover,.pager li>a:focus{text-decoration:none;color:#fff;background-color:#5ed4c9}.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{color:#999;background-color:#fff;border-color:#ddd}.pagination{margin:20px 0;font-family:"Montserrat",Helvetica,Arial,sans-serif;border-radius:0}.pagination>li>a,.pagination>li>span{padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#5ed4c9;background-color:#fff;border:1px solid #ddd}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{color:#5ed4c9;background-color:#f2e4ed;border-color:#ddd}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;background-color:#5ed4c9;border-color:#5ed4c9}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;background-color:#fff;border-color:#ddd}@media (max-width:767px){.text-center-xs{text-align:center !important}.text-center-xs img{display:block;margin-left:auto;margin-right:auto}}@media (min-width:768px) and (max-width:991px){.text-center-sm{text-align:center !important}.text-center-sm img{display:block;margin-left:auto;margin-right:auto}}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Montserrat",Helvetica,Arial,sans-serif;font-weight:700;line-height:1.1;color:#333}h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:20px}p{margin:0 0 10px}.lead{margin-bottom:20px;font-size:16px}@media (min-width:768px){.lead{font-size:21px}}.text-small{font-size:12px}.text-large{font-size:18px}.text-italic{font-style:italic}.text-primary{color:#5ed4c9}a.text-primary:hover{color:#b25894}.bg-primary{color:#fff;background-color:#5ed4c9}a.bg-primary:hover{background-color:#b25894}abbr[title],abbr[data-original-title]{border-bottom:1px dotted #999}blockquote{padding:10px 20px;margin:0 0 20px;font-size:14px;border-left:5px solid #5ed4c9}blockquote footer,blockquote small,blockquote .small{display:block;font-size:80%;line-height:1.42857143;color:#999}blockquote footer:before,blockquote small:before,blockquote .small:before{content:'\2014 \00A0'}.blockquote-reverse,blockquote.pull-right{border-right:5px solid #5ed4c9}address{margin-bottom:20px;line-height:1.42857143}.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:0;-webkit-box-shadow:0 0 0;box-shadow:0 0 0}.panel-primary{border-color:#5ed4c9}.panel-primary>.panel-heading{color:#fff;background-color:#5ed4c9;border-color:#5ed4c9}.panel-primary>.panel-heading+.panel-collapse .panel-body{border-top-color:#5ed4c9}.panel-primary>.panel-footer+.panel-collapse .panel-body{border-bottom-color:#5ed4c9}.panel-primary .panel-title{font-weight:300}.panel-primary .panel-title a:hover{color:#fff;text-decoration:none}a.badge:hover,a.badge:focus{color:#fff;text-decoration:none;cursor:pointer}a.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#5ed4c9;background-color:#fff}.nav-pills>li>a>.badge{margin-left:3px}/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */.yamm .nav,.yamm .collapse,.yamm .dropup,.yamm .dropdown{position:static}.yamm .container{position:relative}.yamm .dropdown-menu{left:auto}.yamm .nav.navbar-right .dropdown-menu{left:auto;right:0}.yamm .yamm-content{padding:20px 30px}@media (max-width:767px){.yamm .yamm-content{padding:10px 20px}}.yamm .dropdown.yamm-fw .dropdown-menu{left:0;right:0}
/******table css ****/
 /*****my orders*****/
.orderList {
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    margin: 0px 0 15px 0;
    overflow: hidden;
}

.orderList table {
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.orderList table tr:nth-child(2n+1) {
    background: #07A8A4 !important;
    color: #fff !important;
}
.orderList table tr td:first-child, .orderList table th:first-child {
    border: medium none;
}

.orderList table tr td, .orderList table th {
    border-left: 1px solid #D8D8D8;
    padding: 8px;
}
.orderList table tr, .orderList table tr.highlight td {
    background: #FFFFFF;
    color: #333333;
    font-size: 16px !important;
    text-align: left;
}

 @media screen and (min-width: 768px){
    .carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left{
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    background-color: rgba(0,0,0,0.6);
    height: 70px;
    line-height: 70px;
    width: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    .carousel-control .glyphicon-chevron-right:hover,.carousel-control .glyphicon-chevron-left:hover{
        width:100px;
    }
    .caption{
        top: 77px;
        width: 960px;
        text-align: right;
        color: white;
        margin: 0 auto;
        position: absolute;
        font-family: 'Open Sans', sans-serif;
    }
    .style1{
        background: url('../img/badge.png') no-repeat;
        height: 65px;
        display: inline-block;
        font-size:16px;
        line-height:60px;
        width:100px;
        font-weight:600;
        text-align:center;
        margin-right: -17px;
    }
    .style2{
        font-weight: bolder;
        font-size: 40px;
        display: block;
        padding-right: 150px;
    }
    .style3{
        font-weight: bold;
        font-size: 25px;
        display: block;
        padding-right: 100px;
    }

    .style4{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 25px;
        display: block;
        margin-top: 12px;
        
    }
    .caption a{
        color: white;
        background: #8cc63e;
        padding: 20px;
        z-index: 99;
        display: block;
        width: 145px;
        border-radius: 4px;
        float: right;
        font-size: 18px;
        margin-top: 22px;
        margin-right: -14px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-weight: 700;
    }

    .caption a:hover{
        background: white;
        color: #8cc63e
    }
    .carousel-control.right,.carousel-control.left{
        background: none;
        top: 155px;
        height: 20px;
    }
    .products .carousel-control .glyphicon-chevron-right, .products  .carousel-control .glyphicon-chevron-left{
    top:-50px;
    }
    /******carousel*****/
    div#carousel-generic{
        width: 88%;
        margin: 0 auto;
    }
    .carousel-indicators .active {
        background-color: #5ed4c9;
        border-color: #5ed4c9;
    }
    .carousel-indicators li, .carousel-indicators .active{
        width :15px;
        height:15px;
    }
    /***carousel-partenaire***/
    .partenaire .carousel-control.right, .partenaire .carousel-control.left{
        top:0px;
    }
    /*****detail products***/
    .detail-box .btn-primary{
      width: 78%;
      height: 50px;
      line-height: 38px;
    }
    .detail-box p.price{
        color: #E31D6A;
        font-size: 70px;
        font-weight: bold;
        line-height: 70px;
        text-align: center;
    }
    .detail-box .oldPrice{
        font-size: 27px;
        text-align: center;
        margin-bottom: 40px;
        color: #3cbdb1;
        font-weight: 800;
    }
    .detail-box #time-product{
        display: block;
        padding: 15px 0;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #ccc;
    }
    .detail-box #time-product span#given_date{
        border: none;
        color: #e4175c;
        border-radius: 5px;
        text-align: center;
        font-size: 39px;
        font-weight: 700;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        line-height: 23px;
        float: right;
        padding-left: 15px;
        padding-right: 15px;
        padding: 10px;
        text-align: center;
        width: 270px;
    }
    .detail-box #time-product table
    {
       float:none;
       margin-top: 10px;
    }
    .detail-box .btn-primary i{
        font-size: 18px;
    }
    .detail-box .day td{
        font-size: 8px;
    }
    /***profils***/
    #my-account ul.myaccount-link-list li {
        overflow: hidden;
        padding-bottom: 10px;
    }

    #my-account ul li a {
        display: block;
        width: 50%;
        overflow: hidden;
        font: 600 16px/20px "Open Sans",sans-serif;
        color: #555454;
        text-shadow: 0 1px white;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        border: 1px solid;
        border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7f7f7),color-stop(100%,#ededed));
        background-image: -moz-linear-gradient(#f7f7f7,#ededed);
        background-image: -webkit-linear-gradient(#f7f7f7,#ededed);
        background-image: linear-gradient(#f7f7f7,#ededed);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    #my-account span{
        padding: 22px 15px 21px 19px;
        overflow: hidden;
        border-left: 1px solid #C6C4C4;
        margin-left: 52px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        }

    #my-account i.glyphicon{  
       font-size: 25px;
       color: #ec136a;
       width: 52px;
       height: 65px;
       padding: 15px 0;
       text-align: center;
       -moz-border-radius-topleft: 4px;
       -webkit-border-top-left-radius: 4px;
       border-top-left-radius: 4px;
       -moz-border-radius-bottomleft: 4px;
       -webkit-border-bottom-left-radius: 4px;
       border-bottom-left-radius: 4px;
       }
}

ol, ul 
{
    list-style: none; 
}

h1{
   text-transform: none;
   padding: 0 0 17px 0;
   margin-bottom: 30px;
   border-bottom: 1px solid #d6d4d4;
   color: #ec136a;
   font-size: 22px;
}

h3{
    font-weight: 600;
    text-transform: uppercase;
    color: #FDC518;
    font-size: 18px;
    padding: 0 0 15px;
    line-height: normal;
    margin-bottom: 12px;
    border-bottom: 1px solid #d6d4d4;
}

p{
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

label{
    font-family: Arial,Tahoma;
    font-size: 14px;
}

#owl-demo .item{
    margin: 3px;
    }
    
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    }
    
 /*******logo**********/
 span.logo {
    font-size: 28px;
    position: absolute;
    top: 31px;
    left: -17px;
    color: #5ED4C9;
}
 span.logo e{  
    color: #6DA1B4;
    font-size: 15px;
    margin-left: 32px;
    }
a.navbar-brand.home img {
        height: 100%;
    }
 /****connexion user home***/
 div#connexion_bloc {
    float: right;
    margin-top: 14px;
}
#connexion_bloc .btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: white;
    border: 1px solid #e5e5e5;
    color: #666;
    margin: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700;
}
 #connexion_bloc .btn.green-full {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: white;
    background: rgb(94, 212, 201);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 212, 201);
}
#connexion_bloc .btn.utilities {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    height: 40px;
    margin-right: 10px;
    padding: 9px 18px 8px;
    position: relative;
}
.telephone-horaire {
    margin-top: 15px;
    width: 25%;
    float:left;
    vertical-align: top;
    text-align: center;
}
.telephone-horaire #teleph{
    display: block;
    margin-bottom: 10px;
}
.telephone-horaire i.glyphicon.glyphicon-dashboard{
    margin-left: 5px;
}
.telephone-horaire .glyphicon{
    margin-right: 6px;
    font-size: 17px;
    color: #8CC63E;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 2px solid #8CC63E;
    padding: 2px;
}
.telephone-horaire span{
    font-size: 18px;
}
#search-panier{
    float:right;
    width: 48%;
}
#search .input-group{
    margin-top: -9px;
}
 /**********style login*******/
 .login .card-left,.login .card-right, .register .card-left{
    width: 49%;
    float:left;
 }
 .login .card-right, .register .card-left{
    margin-left: 15px;
    border-width: 0 0 0 1px;
    padding-left: 20px;
    float: right;
    padding: 30px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: #FBFBFB;
 }
 .login .card-right img{
     display: block;
     margin: 0 auto 40px auto;
 }
.login .card-left{
    padding: 170px 20px 0 40px;
}
.register .card-right {
    float: left;
    width: 65%;
}
.register #profile-img{
    width:20%;
}
.register #form-signin{
   width: 50%;
   margin: 0 auto; 
}  

#form-signin{
   text-align: left;
}

#form-signin .item{
    position: relative;
}
#form-signin div+div{
    margin-top: 15px;
}
#form-signin div+div+div{
    margin-top: 30px;
}
#form-signin .item label{
    position: absolute;
    left: 15px;
    font-size: 18px;
    color: #666;
    top: 15px;
}

#form-signin input{
    height: 50px;
    line-height: 50px;
    border: 1px solid #bec6d7;
    border-radius: 3px;
    padding: 10px 45px;
}

#form-signin input#remember{
    width: 8%;
    display: inline-block;
    height: 18px;
    font-weight: 600;
    padding-top: 6px;
    margin: 0;
    margin: 12px 0;
}
#form-signin #remember{
    float: left;
    width: 45%;
    line-height: 14px;
    font-size: 12px;
    text-align: left;
    padding-left: 22px;
    font: 13px Arial,Tahoma;
}

.forget_pass {
    margin-left: -25px;
    font: 16px Arial,Tahoma;
    margin-top: -10px;
}

#form-signin #remember input{
    height: 14px;
    left: -52px;
    top: -3px;
    font-size: 100%;
}

#form-signin .btn-primary, .register .btn-primary{
    line-height: 47px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px #bbb;
    overflow: visible;
    font-size: 18px;
    text-align: center;
    border: none;
    background: #8CC63E;
    font-weight: 700;
    padding: 0 20px;
    display: block;
    cursor: pointer;
    float: right;
    width: 50%;
}
.hd li{
   display: inline-block; 
}
.register li.m_reg.fl {
    margin-left: 15px;
    border-left: 1px solid #6DA1B4;
    padding-left: 13px;
}
.register a#sing_in_btn {
    display: block;
}
.register li.m_login.fl{
  font-size: 50px;
}
.register ul{
    padding-left: 0;
    margin-bottom: 25px;
}
.register select#title{
    width: 30%;
}
/*******style-box******/
 .product .icone{
     text-align: left;
 }
 .product .glyphicon{
    color: #8CC63E;
 }
 .product i.glyphicon.glyphicon-map-marker {
    margin-left: 16px;
}

.more_link{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 25px 0;
 } 
 
 .more_link a{
    color:#fff;
    background: #5ed4c9;
    padding: 13px 24px;
 }

 .more_link a:hover{
    color:#fff;
    background: rgba(94, 212, 201, 0.25);
    text-decoration: none;
 }
/*****fb***/
#feedback_tab {
    height: 50px;
    width: auto;
    position: fixed;
    top: 40%;
    right: -57px;
    z-index: 999;
    color: #fff;
    background: #5ED4C9;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback_tab span {
    padding: 18px;
    display: block;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    cursor: pointer;
}
.feedback-icon {
    float: left;
    margin-right: 12px;
}
 .form-register .form-control{
     width:250px;
     height: 40px;
 }
 input#address{
     width: 350px;
 }
.form-register .form-group ul li {
    color: #CA1F25;
    font-size: 11px;
}

.form-register .form-group ul li::before { 
    content: "x";
    color: #CA1F25;
    font-weight: bold;
    margin-right: 2px;
}
 /*****button social****/
.social-button div {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 19px;
    padding: 15px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.facebook-login-button {
    background: #3b5998;
    margin-bottom: 16px;
}

/***slider****/
.carousel-control {
  padding-top:10%;
  width:5%;
}
.profileAddGoldV7 {
    background: #ff0084;
    height: 56px;
    width: 75px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
/****footer***link***/
.footer_links {
    padding: 20px 0 0 0;
    border-top: 1px solid #d6d4d4;
    height: 65px;
}
.footer_links .btn-default{
    margin-top: 10px;
}
.button.button-small {
    color: #fff;
    background: #ea1c6f;
    border: 1px solid;
    border-color: #ea1c6f;
    text-shadow: 1px 1px rgba(0,0,0,0.24);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*********slider_css*****/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control, .item {
    border-radius: 4px;
}

.carousel-inner:hover > label {
    background-color: #1FA5AD;
    width: 70px;
}

.carousel-inner span.glyphicon.glyphicon-chevron-right{
    overflow: hidden;
    margin-top: -35px;
    width: 40px;
    height: 70px;
    background: #000;
    background-color: rgba(0,0,0,0.6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: 300ms width ease, 300ms margin-left ease, 300ms background-color ease;
    -ms-transition: 300ms width ease, 300ms margin-left ease, 300ms background-color ease;
    -o-transition: 300ms width ease, 300ms margin-left ease, 300ms background-color ease;
}
.carousel-inner .glyphicon-chevron-right:before{
    text-align: center;
    line-height: 76px;
    color: #fff;
}

/****footer**/
.footer_links li {
    display: inline-block;
}


/****erreur-page****/
#erreur-page img, #erreur-page .erreur-desoler{
    float: left;
    width: 50%;
    margin-top: 10px;
}

#footer ul li{
    margin-bottom: 5px;
}

#footer ul li span{
   -webkit-transition: .2s;
    transition: .2s;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding: 7px 12px;
    background-color: #000; 
}

#footer h4 {
    border-left: 3px solid #000;
    padding-left: 5px;
    margin-bottom: 15px;
}
/**********coordonnees*********/
.coordonnees{
    padding:10px;
   
}
.coordonnees p{
     color:#000;
}
.coordonnees p strong{
    font-size: 16px;
}
/*********HOOK_PAYMENT*****/
#HOOK_PAYMENT p a{
    display: block;
    border: 1px solid #d6d4d4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 17px;
    line-height: 23px;
    color: #333;
    font-weight: bold;
    padding: 33px 40px 34px 99px;
    letter-spacing: -1px;
    position: relative;
}

#HOOK_PAYMENT .bankwire{
   background: url(../img/bankwire.png) 15px 12px no-repeat #fbfbfb;
}

#HOOK_PAYMENT .poste{
    background: url(../img/logo-poste.png) 15px 12px no-repeat #fbfbfb;
}


#HOOK_PAYMENT .space{
    background: url(../img/mondatcache.jpg) 15px 12px no-repeat #fbfbfb;
}

#HOOK_PAYMENT .cheque{
    background: url(../img/cheque.png) 15px 12px no-repeat #fbfbfb;
}

#HOOK_PAYMENT span.glyphicon.glyphicon-chevron-right{
    float:right;
    color:#000;
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

#HOOK_PAYMENT p a:hover{
   font-size: 19px; 
   text-decoration: none;
   color:#6DA1B4;
}

/**menu**/
.titleMenu{
    color: #ea1c6f;
}
.titleMenu:hover{
    text-decoration: none;
}
/*********search***********/
.form-search label{
   display: none; 
}
.form-search select{
    background: url('../img/city.png') 5px no-repeat;
    font-size: 15px;
    height: 42px;
    border: 1px solid #ccc;
    width: 150px!important;
    padding-left: 25px;
}

.form-search button{
    background: none;
}
.form-search button span{
    font-size: 20px;
}
.form-search .form-group{
    display: inline-block;
    margin-bottom:0px;
}
.navbar-collapse.collapse.left{
    margin-top: 20px;
}  

/******* feedbackModal *****/
#feedbackModal p {
    margin-bottom: 22px;
    font-size: 1em;
    line-height: 20px;
}

/**************commande*******/

.table-striped thead th{
    min-width: 120px; 
}

.table-striped tbody .bg{
   background: #ffddfc;
}
p.info-account {
    font-size: 14px;
    color: #131414;
}

.cheque-box{
    background: #fbfbfb;
    border: 1px solid #d6d4d4;
    padding: 14px 18px 13px;
    margin: 0 0 30px 0;
    line-height: 23px; 
}
