<div class="p2">
        <img src="{{asset("bundles/frontBundle/img/404.png")}}" class="l-inline" alt="">
        <h1>Désolé, cette page n'existe pas</h1>

        <p>Mais ne vous inquiétez pas ! Trouver ce que vous aimez ne devrait pas être difficile, nous avons donc préparé une sélection de nos meilleures offres ci-dessous.</p>
</div>