</div>
</div>
</div>
<!-- *** FOOTER *** -->
 <div id="footer">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <h4>Pages</h4>

                    <ul>
                        <li><a href="text.html">À propos</a>
                        </li>
                        <li><a href="text-left.html">Termes et conditions</a>
                        </li>
                        <li><a href="faq.html">FAQ</a>
                        </li>
                        <li><a href="{{path('front_home_contact_page')}}">Contacter nous</a>
                        </li>
                    </ul>
                    <hr>
                    <h4>Section utilisateur</h4>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#login-modal">S'identifier</a>
                        </li>
                        <li><a href="{{path('front_customer_register_page')}}">S'enregistrer</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="category.html"><span class="widget-list-number-counter">8</span>Deal</a>
                        </li>
                        <li><a href="category.html"><span class="widget-list-number-counter">5</span>Shop</a>
                        </li>
                        <li><a href="category.html"><span class="widget-list-number-counter">3</span>Formation</a>
                        </li>
                    </ul>
                    <hr class="hidden-md hidden-lg">
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                 
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                   <h4>Newsletter</h4>
                   <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                        <span class="input-group-btn">

                            <button class="btn btn-default" type="button">Souscrire!</button>

                        </span>

                        </div>
                        <!-- /input-group -->
                   </form>

                    <hr>

                    <h4>Suivez nous</h4>

                    <p class="social">
                        <a href="https://www.facebook.com/NhnNmlWHmYtqazwnAlshhrya/" target="_"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->

        <!-- *** COPYRIGHT ***
_________________________________________________________ -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">Copyright &copy; {{ "now"|date('Y') }} NiceShop. Tous droits réservés.</p>
                    <p class="pull-right">
                       NOUS ACCEPTONS : <img src="{{asset("bundles/frontBundle/img/payment.png")}}" alt="payments accepted">
                    </p>

                </div>
            </div>
        </div>
        <!-- /#copyright -->

        <!-- *** COPYRIGHT END *** -->

        
    </div>
<div id="feedback_tab"><span><img class="feedback-icon" src="https://bowntycdn.net/img/frontend/desktop/feedback-icon.png?v=5183" alt="feedback" width="22" height="20">Feedback</span></div>
