<a href="{{path('front_customer_mon_pannier_page')}}" class="btn btn-primary navbar-btn">
    <i class="fa fa-shopping-cart"></i>
    <span class="hidden-sm">{%if product %}{% for products in product %}{{panier[products.id]}} {%endfor%}{%else%}0 {%endif%}<span class="hidden-md">panier</span></span></a>
