<form action="{{path('front_home_list_products_by_city')}}" method="POST" class="navbar-form form-search pull-right">
     {{ form_widget(form) }}
    <button type="submit" class="btn">Rechercher</button>
</form>


