{% extends "::baseAdmin.html.twig" %}
{% block body %}
    {% include '::includes/topColumn.html.twig' %}
    {% include '::includes/leftColumn.html.twig' %}
    <h1>Produits<small>Shop</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>
        <li class="active">Produits</li>
    </ol>
    </section>
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Consultation</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
    <div class="box-body">
        <p>Nom de produit :<b>{{products.name}}</b></p>
        <p>Prix :<b>{{products.price}}</b></p>
        <p>Description :<b>{{products.description}}</b></p>
    </div>
    </div></div></div>
  {% include '::includes/footer.html.twig' %}
{% endblock %}